<meta http-equiv="refresh" content="30" />
<html>
{% load static %}
<head>
	<title>MorningPy</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
	<h1>MorningPy</h1>
	<p>{{ time }}</p>

{% if time1  %}
<h2>Gløshaugen</h2>
<div id="clockdiv">
	<div>
		<span class="minutes">{{ time1.hour }}<span>
		<div class="clockheading">Hour</div>
	</div>
	<div>
		<span class="seconds">{{ time1.minute }}<span>
		<div class="clockheading">Minute</div>
	</div>
</div>
{% else %}
    <p>No departures available from this stop :-(</p>
{% endif %}

{% if time2  %}
<h2>Migosenteret</h2>
<div id="clockdiv">
	<div>
		<span class="minutes">{{ time2.hour }}<span>
		<div class="clockheading">Hour</div>
	</div>
	<div>
		<span class="seconds">{{ time2.minute }}<span>
		<div class="clockheading">Minute</div>
	</div>
</div>
{% else %}
    <p>No departures available from this stop :-(</p>
{% endif %}



</body>
</html>
