<meta http-equiv="refresh" content="30" />
<html>
{% load static %}
<head>
	<title>MorningPy</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
	<h1>MorningPy</h1>
	<p>{{ time }}</p>

{% if time1  %}
<h2>Gløshaugen</h2>
<div id="clockdiv">
	<div>
		<span class="minutes">{{ time1.hour }}<span>
		<div class="clockheading">Hour</div>
	</div>
	<div>
		<span class="seconds">{{ time1.minute }}<span>
		<div class="clockheading">Minute</div>
	</div>
</div>
{% else %}
    <p>No departures to Gløshaugen at this time.</p>
{% endif %}

{% if time2  %}
<h2>Migosenteret</h2>
<div id="clockdiv">
	<div>
		<span class="minutes">{{ time2.hour }}<span>
		<div class="clockheading">Hour</div>
	</div>
	<div>
		<span class="seconds">{{ time2.minute }}<span>
		<div class="clockheading">Minute</div>
	</div>
</div>
{% else %}
    <p>No departures to Migosenterte at this time.</p>
{% endif %}

<script src="http://www.yr.no/place/Norway/Sør-Trøndelag/Trondheim/Trondheim/external_box_hour_by_hour.js"></script><noscript><a href="http://www.yr.no/place/Norway/Sør-Trøndelag/Trondheim/Trondheim/">yr.no: Forecast for Trondheim</a></noscript>



</body>
</html>
